.btn-group .button {
  background-color: skyblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  float: left;
}

.btn-group .button:hover {
  background-color: #0099FF;
}

.btn-group .user {
  background-color: skyblue;
  border: none;
  color: white;
  padding: 18.5px 35.5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  float: right;
}

.btn-group .user:hover {
  background-color: #0099FF;
}